<div class="hero-unit">
	<h1>Home</h1>
	<p>
		This will be the home page for Sked.
	</p>
	<p>
		<%= link_to "Sign Up Now!", signup_path,class: "btn btn-primary btn-large" %>
	</p>
	<p>
		<%= link_to "Create New Sked!", new_path,class: "btn btn-success btn-large" %>
	</p>
</div>