<div class="hero-unit">
	<h1>Home</h1>
	<p>
		This will be the home page for Sked.
	</p>
	<p>
		<%= link_to "<i class=\"icon-thumbs-up\"></i> Sign Up Now!".html_safe, new_user_registration_path,class: "btn btn-primary btn-large" %>
	</p>
	<p>
		<%= link_to "<i class=\"icon-plus\"></i> Create A New Skedl!".html_safe, new_skedl_path,class: "btn btn-success btn-large" %>
	</p>
</div>