<h1>Open Skedls</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Calendar Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @skedls %>
  </tbody>
</table>

<br />

<%= link_to 'New Skedl', new_skedl_path %>
